html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    min-width: 1100px;
    min-height: 600px;
}
body {
    padding: 0;
    margin: 0;
    background: #f7f7fb;
    font-size: 1.4rem;
}
input,
button,
select,
textarea{
    outline:none
}
select:hover{
    cursor: pointer;
}
.headerContainer {
    width: 100%;
    height: 50px;
    background: #17a1e5;
    border-bottom: 1px solid #a1a1a1;
}
.bodyContainer {
    width: 100%;
    background: #f7f7fb;
}
/*header部 start*/
.title {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: -40px;
}
.logo {
    display: inline-block;
    position: relative;
    top: -16px;
    left: -15px;
    width: 120px;
    height: 50px;
    background: url('../img/gemiiLogo.png') no-repeat left;
    background-size: 120px;
}
.out {
    display: inline-block;
    float: right;
    width: 30px;
    height: 50px;
    background: url('../img/out.png') no-repeat left;
    background-size: 20px;
}
.out:active {
    background-size: 19px;
}
/*header部 end*/
/*tab  start*/
.sideContainer {
    width: 150px;
    height: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    background: #ffffff;
    color: #999da6;
}
.contentContainer {
    padding: 15px;
    float: left;
}
.contentContainer:after {
    clear: both;
}
.sideContainer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sideContainer ul li {
    padding: 0;
    margin: 0;
    color: #3d4048;
    text-indent: 20px;
    position: relative;
    overflow: hidden;
}
.sideContainer ul li span {
    text-align: center;
    line-height: 35px;
}
.sideContainer >ul >li {
     border-bottom: 1px solid #d8d8d8;
 }
.sideContainer >ul >li:last-child {
    border-bottom:0;
}
.sideContainer >ul >li:hover{
    background-color: #6bccff;
}
.sideContainer ul li:hover {
    cursor: pointer;
}
.sideContainer >ul >li >ul li{
    background-color: #eceff2;
    border-bottom:0;
    text-indent: 30px;
    border-left: 6px solid #eceff2;
}
.sideContainer >ul >li >ul li:hover {
    border-left: 6px solid #6bccff;
}
.sideContainer >ul >li >ul li:last-child{
    padding-bottom: 0;
}
.tab-content-item{
    width: 100%;
    height: 100%;
    display: none;
}
.tab-content-item >div {
    width: 100%;
    height: 100%;
}
.active{
    display: block;
}
ul >li.active {
    opacity: 0.8;
    background-color: #6bccff;
}
ul >li >ul li.active {
    opacity: 0.8;
    background-color: #ebeff3;
    border-left: 6px solid #ebeff3;
}
.openChild {
    position: absolute;
    right: 0;
    background: url('../img/open.png') no-repeat center;
    background-size: 10px 10px;
}
.openChildActive {
    transform: rotate(45deg);
}
.height100 {
 height: 100%;
}
.width100{
    width: 100%;
}
.close {
    display: none;
}
/*波纹效果*/
@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}
.sideContainer ul li span.ripple {
    position: absolute;
    background: rgba(255,255,255,.4);
    border-radius: 100%;
    transform: scale(0);
    width: 100px;
    height: 100px;
    pointer-events: none;
    animation: ripple 0.45s ease-out;
}

/*tab end*/

/*taskmanagement  start*/
.task {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #d8d8d8;
    background: #ffffff;
}
.taskTitle {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #000;
    background: #ebeff3;
}
.formContainer {
    padding: 0 0;
    width: 100%;
    color: #000000;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}
.formContainer input,
.formContainer select,
.formContainer button,
.formCon select,
.rowTask button{
    /*background: transparent;*/
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #000000;
}
.formContainer button:hover{
    background-color: #1294ff;
    cursor: pointer;
}
.formContainer .addBtn {
    background: #00a7ff;
    border: 1px solid #00a7ff;
    color: #ffffff;
    float: right;
    transform: translateY(-10px);
    padding: 7px 14px;
    margin-right: 110px;
}
.formContainer .addBtn:hover{
    background: transparent;
    border: 1px solid #00a7ff;
    color: #00a7ff;
}
.taskName_input {
    width: 18%;
    height: 17px;
    padding-left: 5px;
}
.time_input {
    width: 15%;
    height: 17px;
    padding-left: 5px;
}
.taskPlatform_select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    display: inline-block;
    width: 13%;
    height: 22px;
    padding-left: 5px;
    padding-right: 14px;
    background: url('../img/down.png') no-repeat;
    background-position: 120px 7px;
    background-size: 10px 7px;
}
.formCon .mulSelect {
    width: 700px;
}
.mulDiv .dropdown-toggle {
    padding: 3px 3px;
    width: 700px;
    font-size: 1rem;
    text-align: left;
}
.multiselect-selected-text{
    display: inline-block;
    width: 672px;
}
.open>.dropdown-menu{
    width: 700px;
}
.taskName_input:focus{
    border: 1px solid #3975cc;
}
.formContainer .searchButton {
    margin-left: 40px;
    color: #00a7ff;
    background: #ffffff;
    border: 1px solid #00a7ff;
}
.formContainer .searchButton:hover{
    color: #ffffff;
    background: #00a7ff;
}
.taskQuery {
    position: relative;
    left: 135px;
}
.marginForm {
    transform: translateY(-10px);
}
.tableContainer {
    padding-left: 10px;
    padding-right: 10px;
}
.taskmnTable {
    margin-top: 26px;
}
.taskTable,
.reviewTable{
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    border-bottom: 1px solid #d8d8d8;
}
.taskTable thead,
.reviewTable thead{
    width: 100%;
    display: block;
}
.taskTable tbody tr:nth-of-type(odd),
.reviewTable tbody tr:nth-of-type(odd){
     background: #f5f5f9;
}
.taskTable tbody td,
.taskTable thead th{
    padding: 8px;
}
#taskManagement,
#reviewManagement{
    display: block;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #898a9d;
}
#taskManagement tr,
.taskTable thead,
.taskTable thead tr{
    width: 100%;
    display: block;
}
#taskManagement tr{
    padding: 8px 0;
}
#taskManagement td,
.taskTable th{
    display: inline-table;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}
#taskManagement td:nth-child(1),
.taskTable th:nth-child(1){
    width: 4%;
}
#taskManagement td:nth-child(2),
.taskTable th:nth-child(2){
    width: 19%;
}
#taskManagement td:nth-child(3),
.taskTable th:nth-child(3){
    width: 6%;
}
#taskManagement td:nth-child(4),
.taskTable th:nth-child(4){
    width: 6%;
}
#taskManagement td:nth-child(5),
.taskTable th:nth-child(5){
    width: 14%;
}
#taskManagement td:nth-child(6),
.taskTable th:nth-child(6){
    width: 6%;
}
#taskManagement td:nth-child(7),
.taskTable th:nth-child(7){
    width: 6%;
}
#taskManagement td:nth-child(8),
.taskTable th:nth-child(8){
    width: 14%;
}
#taskManagement td:nth-child(9),
.taskTable th:nth-child(9){
    width: 25%;
}
#taskManagement::-webkit-scrollbar {
    display: none;
}
#taskManagement tr:hover,
#reviewManagement tr:hover{
    background: rgba(0,0,0,0.1);
}

.pagecom {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.pageInfo {
    display: inline;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 1rem;
}
.pageToggle {
    position: absolute;
    bottom: 5px;
    /*right: 10px;*/
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.pageToggle:after{
    clear:both;
}
.pageButton {
    padding: 2px;
    border: 1px solid #95adc3;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding-left: 8px;
    padding-right: 8px;
}
.pageButton:hover {
    background-color: #eceff2;
    cursor: pointer;
}
.pageButton.selected {
    background-color: #ebeff3;
}

/*taskmanagement end*/
/*taskDetails start*/
.taskDetails ,
#newQR,#newCard,
.reviewDetailsCon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #ffffff;
}
#cardModel{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.taskDetailsTemplate {
    width: 100%;
    height: 100%;
}
.taskDetailsBack {
    float: right;
    background: transparent;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #999da6;
    height: 22px;
    font-size: 1rem;
}
.rowTask .saveButton {
    width: 100px;
    background: #1294ff;
    border: 1px solid #1294ff;
    color: #ffffff;
    margin-right: 0;
}
.rowTask .saveButton:hover{
    transform: scale(0.98);
    cursor: pointer;
}
.taskDetailsBack:hover{
    background-color: #1294ff;
    cursor: pointer;
}
.taskDetailsContent {
    width: 100%;
    overflow: auto;
    padding-top: 10px;
}
.rowTask {
    color: #000;
    font-size: 1.3rem;
    margin-bottom: 10px;
    position: relative;
}
.rowTask .noneRemark {
    color: firebrick;
    float: right;
    margin-right: 140px;
    transform: translateY(-20px);
}
.rowTask .noneRemarkM {
    transform: translateY(0);
}
.formCon {
    margin-left: 200px;
    margin-top: -20px;
    width: 700px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    position: relative;
}
.formConAlert {
    margin-left: 200px;
    margin-top: -20px;
    width: 700px;
}
.mulDiv{
    border: 0;
}
.titlesPosition {
    font-weight: bolder;
    margin-left: 20px;
}
.taskMoreD {
    margin-left: 200px;
}
.inputCss {
    background: transparent;
    margin-right: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #000;
    padding-left: 5px;
}
.formCon> input{
    background: transparent;
    margin: 0;
    border: 0;
    padding: 0;
    color: #000;
    width: 690px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.formCon> input:focus{
    border-radius: 3px;
    box-shadow: 1px 1px 1px #529cec;
}
.required {
    color: firebrick;
}
.platformDiv {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pushObjDiv {
    height: 200px;
}
.formContainer .isIncloude {
    margin-right: 5px;
    margin-left: 5px;
}
.checkInput {
    margin-left: 20px;
    margin-bottom: 8px;
}
.formCon select {
    border: 0;
}
.formCon .selectAdd{
    width: 700px;
    margin-right: 0;
    padding-right: 14px;
    background: url('../img/down.png') no-repeat;
    background-position: 677px 8px;
    background-size: 10px 7px;
}
.selectIcon {
    position: absolute;
    top: 9px;
    right: 14px;
}
.taskGetMargin {
    margin-left: 20px;
    margin-right: 10px;
}
.taskFormMar {
    margin: 10px auto;
}
.textareaCss {
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    color: #000;
    height: 45px;
    padding-left: 5px;
}
.taskIntroduction {
    width: 695px;
}
.rowTask .noneLink {
    margin-right: 38px;
}
input[type=radio],
input[type=checkbox]{
    margin-right: 10px;
}
.radioInput {
    margin-left: 20px !important;
}
/*taskDetails end*/
/*reviewTask start*/
.reviewTable tr{
    width: 100%;
    display: block;
}
#reviewManagement td,
.reviewTable th{
    display: inline-table;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    padding: 8px;
}
#reviewManagement tr{
    padding: 8px 0;
}
#reviewManagement td:nth-child(1),
.reviewTable th:nth-child(1){
    width: 4%;
}
#reviewManagement td:nth-child(2),
.reviewTable th:nth-child(2){
    width: 4%;
}
#reviewManagement td:nth-child(3),
.reviewTable th:nth-child(3){
    width: 15%;
}
#reviewManagement td:nth-child(4),
.reviewTable th:nth-child(4){
     width: 18%;
}
#reviewManagement td:nth-child(5),
.reviewTable th:nth-child(5){
    width: 18%;
}
#reviewManagement td:nth-child(6),
.reviewTable th:nth-child(6){
    width: 10%;
}
#reviewManagement td:nth-child(7),
.reviewTable th:nth-child(7){
    width: 12%;
}
#reviewManagement td:nth-child(8),
.reviewTable th:nth-child(8){
    width: 7%;
}
#reviewManagement td:nth-child(9),
.reviewTable th:nth-child(9){
    width: 12%;
}
.reviewTable th:nth-child(3):hover,
.reviewTable th:nth-child(4):hover,
.reviewTable th:nth-child(6):hover{
    cursor: pointer;
}
.aCss {
    color: #1294ff;
}
.aCss:hover{
    cursor: pointer;
    text-decoration: underline;
}
.newButton {
    color: #00a7ff;
    border: 1px solid #00a7ff;
}
.newButton:hover{
    background: #00a7ff;
    color: #ffffff;
}
.allowReview {
    padding: 2px;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: #00a7ff;
    border: 1px solid #00a7ff;
}
.allowReview:hover {
    background: #00a7ff;
    color: #ffffff;
    cursor: pointer;
}
.allowCss {
    background: #00a7ff;
    color: #ffffff;
    border: 1px solid #00a7ff;
}
.delTask{
    color: #ff4a47;
    border: 1px solid #ff4a47;
}
.delTask:hover{
    background: #ff4a47;
    color: #ffffff;
}
.none-box {
    display: none;
}
.disabledButton {
    padding: 2px;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: #999da6;
    border: 1px solid #d8d8d8;
}
.disabledButton:hover{
    background-color: rgba(0,0,0,0);
}
.reviewTitleCon {
    margin-bottom: 15px;
}
.titleT {
    padding-left: 20px;
    color: #999da6;
}
.ascending {
    display: inline-block;
    width: 15px;
    margin-left: 8px;
    background: url('../img/asc.png') no-repeat center;
}
.descending {
    display: inline-block;
    width: 15px;
    margin-left: 8px;
    background: url('../img/dec.png') no-repeat center;
}
.sorting {
    display: inline-block;
    width: 15px;
    margin-left: 8px;
    background: url('../img/sort.png') no-repeat center;
}
/*reviewTask end*/
/*review uploadDetails start*/
.taskTitle .reviewT{
    color: #999da6;
}
.taskTitle .reviewT2 {
    color: #00a7ff;
}
.taskTitle .reviewT:hover,
.taskTitle .reviewT2:hover{
    cursor: pointer;
}
.rowTitle {
    display: inline-block;
    width: 120px;
    padding-left: 20px;
}
.rowCon{
    display: inline-block;
    color: #000000;
}
.reviewSug {
    float: left;
}
#reviewSuggest {
    word-wrap: break-word;
    word-break: normal;
    width: 700px;
    float: left;
}
.clearfloat {
    clear: both;
}
.previewDiv {
    padding-left: 20px;
    padding-right: 20px;
}
.imgPre {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 350px;
    display:inline-block;
    border: 1px solid #d8d8d8;
    border-radius:3px;
}
.reviewSubmit {
    text-align: center;
    width: 100%;
}
.reviewSubmit .refuseButton {
    color: #00a7ff;
    width: 80px;
    margin-right: 20px;
    border: 1px solid #00a7ff;
    background: #ffffff;
}
.reviewSubmit .refuseButton:hover {
    background: #00a7ff;
    color: #ffffff;
    cursor: pointer;
}
.reviewSubmit .allowButton {
    color: #00a7ff;
    width: 80px;
    margin-right: 20px;
    border: 1px solid #00a7ff;
    background: #ffffff;
}
.reviewSubmit .clickedBtn {
    color: #ffffff;
    background: #00a7ff;
    border: 1px solid #00a7ff;
}
.reviewSubmit .allowButton:hover{
    background: #00a7ff;
    color: #ffffff;
    cursor: pointer;
}
.reviewSubmit .disabledCss {
    width: 80px;
    margin-right: 20px;
    color: #999da6;
    border: 1px solid #d8d8d8;
    background: #ffffff;
}
.reviewSubmit .disabledCss:hover{
    cursor: pointer;
    color: #999da6;
    background: rgba(0,0,0,0);
    border: 1px solid #d8d8d8;
}

/*review uploadDetails end*/
/*询问框组件 start*/
.maskDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.5);*/
    z-index: 999;
}
.confirmDiv {
    width: 160px;
    height: 60px;
    background: #ffffff;
    color: #000000;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    position: absolute;
}
.containerConfirm {
    text-align: center;
}
.confirmTriangle{
    position: absolute;
    top: 32px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    transform: rotate(135deg);
    background: #ffffff;
}
.btnDiv {
    margin-top: 10px;
}
.confirmCancel{
    color: #00a7ff;
    margin-right: 10px;
    border: 1px solid #00a7ff;
    background: #ffffff;
    border-radius: 3px;
    width: 70px;
}
.confirmCancel:hover{
    color: #ffffff;
    background: #00a7ff;
    cursor: pointer;
}
.confirmOk {
    color: #ffffff;
    border: 1px solid #00a7ff;
    background: #00a7ff;
    border-radius: 3px;
    width: 70px;
}
.redConfirmOk {
    color: #ffffff;
    border: 1px solid #fb3038;
    background: #fb3038;
    border-radius: 3px;
    width: 70px;
}
/*询问框组件 end*/
.input-group .multiselect-search {
    width: 584px;
}
/*二维码tab start*/
.qrTable,.qrDataTable{
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 10px;
}
.qrTable th:nth-child(1),
.qrTable td:nth-child(1){
    width:30px;
}
.qrTable th:nth-child(2),
.qrTable td:nth-child(2){
    width:40px;
}
.qrTable th:nth-child(3),
.qrTable td:nth-child(3){
    width:27%;
}
.qrTable th:nth-child(4),
.qrTable td:nth-child(4){
    width:12%;
}
.qrTable th:nth-child(5),
.qrTable td:nth-child(5){
    width:80px;
}
.qrTable th:nth-child(6),
.qrTable td:nth-child(6){
    width:130px;
}
.qrTable th:nth-child(7),
.qrTable td:nth-child(7){
    width:14%;
}
.qrTable th:nth-child(8),
.qrTable td:nth-child(8){
    width:220px;
}
.qrTable tbody tr:nth-of-type(odd),
.qrDataTable tbody tr:nth-of-type(odd){
    background: #f5f5f9;
}
.qrTable td,
.qrTable th,
.qrDataTable td,
.qrDataTable th{
    padding: 8px;
    display: inline-table;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}
.qrTable tbody tr,
.qrDataTable tbody tr{
    padding: 8px 0;
}
.qrTable tbody,
.qrDataTable tbody{
    display: block;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #898a9d;
}

.qrTable tr,
.qrDataTable tr{
    width: 100%;
    display: block;
}
.qrTable tbody tr:hover,
.qrDataTable tbody tr:hover{
    background: rgba(0,0,0,0.1);
}
.TDaCss{
    margin-right: 7px;
    border-radius: 3px;
    padding: 3px 5px;
    background: #00a7ff;
    color: #fff;
    border: 1px solid #00a7ff;
    text-decoration: none;
}
.TDaCssDisable{
    margin-right: 7px;
    border-radius: 3px;
    padding: 3px 5px;
    background: #cdcdcd;
    color: #fff;
    border: 1px solid #cdcdcd;
    text-decoration: none;
}
.TDaCss:hover{
    cursor: pointer;
}
.delQR{
    background: #ffffff;
    color: #ff4a47;
    border: 1px solid #ff4a47;
}
.delQR:hover{
    background: #ff4a47;
    color: #ffffff;
}
.radioText{
    margin-right: 30px;
}
.qrImg {
    width: 200px;
    height: 200px;
    margin-left: 9px;
}
.isdel{
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
    background: #ffffff;
}
/*二维码tab end*/
/*二维码新增 start*/
.titleQR{
    font-size: 1.4rem;
    color: #383E46;
}
.formConQR{
    margin-left: 130px;
    width: 280px;
    height: 32px;
    border-radius: 5px;
}
.formConQR> input {
    width: 270px;
    height: 32px;
    font-size: 1.4rem;
}
.formConQR .selectAdd{
    width: 270px;
    height: 32px;
    font-size: 1.4rem;
    background-position: 260px 13px;
}
.alertQR{
    margin-top: -20px;
}
.rowTask .qrSave{
    width: 151px;
    height: 38px;
    font-size: 1.4rem;
    margin-left: 20px;
    background: #00A7FF;
    border: 1px solid #00A7FF;
    color: #ffffff;
}
.qrRemind,.noneRemind{
    font-size: 14px;
    color: #FF4A47;
    line-height: 20px;
    float: right;
    margin-right: 380px;
    margin-top: -26px;
}
.qrRemindIcon{
    background: url("../img/remind.png") no-repeat center;
    display: inline-block;
    background-size: 12px;
    width: 12px;
    background-position-y: 3px;
}
/*二维码新增 end*/
/*二维码详情 start*/
.detailQR{
    position: absolute;
    left: 130px;
    font-size: 14px;
    color: #383E46;
}
.downdetail{
    width: 141px;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}
/*二维码详情 end*/
/*二维码 数据表 start*/
.qrDataTable th:nth-child(1),
.qrDataTable td:nth-child(1){
    width: 50px;
}
.qrDataTable th,
.qrDataTable td{
    width:22%;
}
/*二维码 数据表 end*/
/*数据导出 start*/
.formContainer .QRsearch {
    width:90px;
    height:25px;
    font-size: 1.4rem;
    line-height: 20px;
    margin-left: 0;
    margin-right: 15px;
    color: #00a7ff;
    border: 1px solid #00a7ff;
}
.formContainer .QRsearch:hover{
    background: #00a7ff;
    color: #ffffff;
}
/*数据导出 end*/
.cardTable{
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 10px;
}
.detailTable{
    width: 100%;
}
.cardModelTemplate{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}
.cardModelInside{
    position: absolute;
    top:50%;
    left: 50%;
    background: #FFFFFF;
    box-shadow: 0 2px 15px 0 rgba(7,46,66,0.25);
    border-radius: 6px;
    display: table;
}
.stateInside{
    width: 337px;
    height: 182px;
    margin:-61px 0 0 -168px;
    text-align: center;
}
.detailInside{
    width: 80%;
    height: 68%;
    margin: -15% 0 0 -40%;
}
.cardModelClose{
    background: url("../img/close.png")no-repeat center center;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 95.5%;
    top: 1.5%;
}
.detailTable th,
.detailTable td{
    text-align: center;
}
.detailTable th:nth-child(1){
    width: 35%;
    border-top-left-radius: 6px;
}
.detailTable th:nth-child(2){
    width: 20%;
}
.detailTable th:nth-child(3){
    width: 20%;
}
.detailTable th:nth-child(4){
    width: 25%;
    border-top-right-radius: 6px;
}
.cardTable th,
.cardTable td{
    text-align: center;
}
.cardTable th:nth-child(1),
.cardTable td:nth-child(1){
    width: 8%;
}
.cardTable th:nth-child(2),
.cardTable td:nth-child(2){
    width: 16%;
}
.cardTable th:nth-child(3),
.cardTable td:nth-child(3){
    width: 16%;
}
.cardTable th:nth-child(4),
.cardTable td:nth-child(4){
    width: 8%;
}
.cardTable th:nth-child(5),
.cardTable td:nth-child(5){
    width: 8%;
}
.cardTable th:nth-child(6),
.cardTable td:nth-child(6){
    width: 8%;
}
.cardTable th:nth-child(7),
.cardTable td:nth-child(7){
    width: 16%;
}
.cardTable th:nth-child(8),
.cardTable td:nth-child(8){
    width: 20%;
}
.addCard{
    margin-top: 6px;
}
.detailTable thead{
    height: 60px;
    line-height: 60px;
    background: #ECEFF2;
}
.detailTable tbody{
    height: 30px;
    line-height: 30px;
}
.stateClose{
    left: 88%;
}
.detailExportCss{
    position: absolute;
    left: 5%;
    bottom: 7.8%;
    border-radius: 3px;
    padding: 8px 15px;
    background: #00a7ff;
    color: #fff;
    border: 1px solid #00a7ff;
    text-decoration: none;
}
.acrossTask{
    display: table-cell;
    vertical-align: middle;
}
