body {
    background-color: rgb(242,242,242);
}
.login-form {
    background-color: #ffffff;
    border: solid 1px rgb(234,234,234);
    border-radius: 5px;
    -moz-border-radius: 5px; /* Old Firefox */
}
.login-title{
    font-size: 2em;
}
.row-center {
    margin-top: 70px;
}
.form-horizontal {
    margin: 8% auto;
}
.none-box {
    display: none;
}
.loginCss {
    width: 85%;
}